@import "primer-css/index.scss";

.flex-column-reverse {
  flex-direction: column-reverse;
}

.octicon-margin {
  position: relative;
  left: 4px;
  top: 1px;
}

.octicon {
  fill: currentColor;
}

.quote {
  border-left: 2px #e1e4e8 solid;
}

.octicon-top-nudge {
  position: relative;
  top: 1px;
}

.Box-header {
  .octicon {
    color: #959DA5;
  }
}
